<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to CSEDU Students' Club</title>
</head>
<body>
    <p>Dear prospective member,</p>
    <p>We are thrilled to inform you that you have been referred to the official website of CSEDU Students' Club.</p>
    <p>We invite you to join our vibrant community of learners and leaders on <strong>csedu-connect.vercel.app</strong>. As a member, not only will you have access to exclusive events, resources, and networking opportunities to enhance your academic and professional growth, but you will also have the chance to help others in their journey of growth and development.</p>
    <p>To get started, please use the referral code provided by your referrer:</p>
    <p><strong>{{ referral_code }}</strong></p>
    <p>Thank you for considering CSEDU Students' Club as your preferred destination for personal and professional development. We look forward to welcoming you on board!</p>
    <p>Best regards,</p>
    <p>The CSEDU Students' Club</p>
</body>
</html>





