Dear prospective member,
We are thrilled to inform you that you have been referred to the official website of CSEDU Students' Club by <b>{{ referrer_first_name }} {{ referrer_last_name }}</b>. We invite you to join our vibrant community of learners and leaders on our website <strong>csedu-connect.vercel.app</strong>.
As a member, not only will you have access to exclusive events, resources, and networking opportunities to enhance your academic and professional growth, but you will also have the chance to help others in their journey of growth and development.
To get started, please use the referral code provided by your referrer: 
<strong>{{ referral_code }}</strong>
<i>Please note that you must use this email address to sign up for the CSEDU Students' Club website.</i>
Thank you for considering CSEDU Students' Club as your preferred destination for personal and professional development. We look forward to welcoming you on board!
Best regards,
The CSEDU Students' Club